<h1>Hello</h1>
<p>World</p>

<%= link_to "Submit image url", new_image_url, method: :get %>

<h2>Your most recent image</h2>
<%= stylesheet_link_tag 'index' %>
<% unless @recent_images.nil? %>
  <% @recent_images.each do |image|  %>
    <%= image_tag image.link, created_at: image.created_at %> <br />
  <% end %>
<% end %>
